body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.home {
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 30px;
}
body {
  background-color: #f3f2ef;
}

.Post-list {
  width: 55%;
  height: auto;
}
.Post {
  height: auto;
  width: 90%;
  margin: 20px auto 20px auto;
  background-color: white;
  position: relative;
  border-radius: 5px;
  border: solid 1px darkgrey;
  box-shadow: darkgrey 2px 2px 2px 2px;
}
.time {
  font-size: medium;
  font-family: sans-serif;
  color: rgb(161, 168, 168);
}

.user-info {
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.post-icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 10px;
}
.post-user-name {
  height: 40px;
  width: 120px;
  font-family: sans-serif;
  font-size: large;
}
p.post-content {
  font-family: sans-serif;
  font-size: medium;
  width: 98%;
  margin: 10px auto 10px auto;
}

.likes-comment-icon {
  height: 30px;
  width: 98%;
  margin: 10px auto 10px auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: solid rgb(116, 111, 111) 2px;
}

.likes-comment-icon img {
  height: 20px;
  width: 20px;
  margin: 5px;
}
.likes-count {
  height: 25px;
  display: inline;
  font-size: large;
  margin-right: 30px;
}
.comments-count {
  height: 25px;
  display: inline-block;
}

.comments {
  width: 88%;
  position: relative;
  left: 50px;
}
.comments-form {
  height: 30px;
  width: 100%;
}

.comment {
  width: 100%;
  height: auto;
  margin: 10px;
  background-color: #f2f2f2;
  padding: 10px;
}
.comment-likes-count {
  height: 17px;
  width: 100%;
  margin-left: 20px;
  margin-top: 10px;
}
.comment-likes-count img {
  width: 17px;
  height: 17px;
  margin-right: 10px;
}
.name-time {
  font-size: small;
  font-family: sans-serif;
  color: rgb(103, 105, 105);
}

.navbar {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  background-color: rgb(32, 48, 145);
}
.nav-left-container img {
  width: 50px;
  height: 50px;
}
.nav-right-container img {
  width: 50px;
  height: 50px;
}
.nav-left-container {
  width: 20%;
  height: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 5px;
}
.nav-middle-container {
  width: 50%;
  height: 50px;
  margin-left: 5px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.search {
  height: 35px;
  width: 70%;
  position: relative;
}

div.site-name {
  height: 40px;
  color: #f2f2f2;
  font-size: xx-large;
  font-family: sans-serif;
  margin-left: 20px;
}
.search input {
  width: 100%;
  height: 30px;
}

.search-btn {
  width: 50px;
  height: 31px;
  margin-left: 8px;
}
.nav-right-container {
  width: 30%;
  height: 50px;
  margin: 5px;
  color: #f2f2f2;
  font-size: large;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.user-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.username-nav {
  height: 20px;
}

.search-results {
  background-color: white;
  z-index: 1;
  position: absolute;
  width: 101%;
  height: 100px;
  overflow-y: auto;
  overflow-x: hidden;
}
.result {
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgb(52, 159, 212);
  justify-content: space-between;
  align-items: center;
  border: solid 2px rgb(0, 0, 0);
}
.result div {
  color: black;
  font-size: large;
  font-family: sans-serif;
  width: 70%;
  height: 20px;
}
.result img {
  border-radius: 50%;
  background-color: white;
  margin-left: 10px;
  height: 25px;
  width: 25px;
}

.nav-btn {
  color: white;
  text-decoration: none;
  font-size: inherit;
}

.login-container {
  width: 400px;
  height: auto;
  margin: 50px auto 50px auto;
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}
.login-heading {
  width: 90%;
  height: 40px;
  text-align: center;
  color: orange;
  font-size: xx-large;
  font-family: sans-serif;
  margin: 10px auto 10px auto;
}
.alert-dialog {
  width: 90%;
  height: auto;
  background-color: #f1a6a0;
  color: rgb(0, 0, 0);
  font-size: large;
  text-align: center;
  border-radius: 5px;
  margin: 5px auto 5px auto;
  transition: 0.5s ease-in-out;
}

.success-dialog {
  width: 90%;
  height: 40px;
  background-color: #a0f1ae;
  color: rgb(0, 0, 0);
  font-size: large;
  text-align: center;
  border-radius: 5px;
  margin: 0px auto 0px auto;
  transition: 0.5s ease-in-out;
}
.login-form {
  width: 90%;
  height: auto;
  margin: 10px auto 10px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.login-form input {
  width: 100%;
  height: 40px;
  margin: 5px;
}
.submit-btn {
  width: 100%;
  height: 40px;
  color: #f2f2f2;
  font-size: large;
  background-color: rgb(255, 102, 0);
}

.submit-btn:disabled {
  cursor: not-allowed;
}

.setting-container {
  height: auto;
  width: 500px;
  background-color: white;
  margin: 50px auto 50px auto;
  padding: 20px;
}
.user-icon {
  height: 80px;
  display: flex;
  flex-direction: row;
  background-color: orangered;
  justify-content: center;
}

.user-icon img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: orange;
  border: solid 5px;
}

.show-field {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 10px;
}
.show-field-heading {
  width: 100%;
  height: 35px;
  background-color: peru;
}
.show-field-input {
  width: 100%;
  height: 35px;
  background-color: peachpuff;
}

.Button-container {
  width: 100%;
  height: 60px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.setting-btn {
  width: 30%;
  height: 40px;
  border: solid 2px orange;
  background-color: white;
  font-size: large;
  color: orange;
  font-family: sans-serif;
}
.show-input {
  width: 100%;
  margin-top: 10px;
}
.show-input input {
  width: 99%;
  height: 30px;
}

.add-friend-btn {
  width: 30%;
  height: 40px;
  border: solid 2px black;
  background-color: orange;
  font-size: large;
  color: white;
  font-family: sans-serif;
}

.friends-container {
  background-color: rgb(88, 130, 255);
  width: 25%;
  height: fit-content;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.friend {
  width: 90%;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px;
  background-color: white;
}
.friend-icon {
  width: 20%;
  height: 70px;
  background-color: rgb(248, 132, 0);
  border-radius: 50%;
}
.friend-icon img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.friend-name {
  width: 60%;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}
.friend-name div {
  height: 40px;
  font-size: x-large;
  font-family: sans-serif;
  font-weight: bolder;
  color: rgb(255, 115, 0);
}
.friends-heading {
  width: 100%;
  text-align: center;
  font-size: xx-large;
  color: rgb(255, 255, 255);
  font-weight: bolder;
}

.add-friend-btn :disabled {
  cursor: not-allowed;
}

.post-form-container {
  height: auto;
  width: 90%;
  margin: 20px auto 20px auto;
  background-color: rgb(255, 255, 255);
}

.post-input-container {
  height: 120px;
  width: 100%;
  margin: 0px auto 0px auto;
  background-color: rgb(255, 255, 255);
  border-bottom: solid 3px gray;
}
.post-input-container textarea {
  height: 115px;
  width: 100%;
  margin: 0px auto 0px auto;
  background-color: rgb(252, 252, 252);
  border: none;
  resize: none;
  font-family: sans-serif;
}
.post-btn-container {
  height: 60px;
  width: 90%;
  margin: 0px auto 0px auto;
  background-color: inherit;
  display: flex;
  flex-direction: row;
  justify-content: right;
  flex-wrap: wrap;
  align-content: center;
}

.post-btn {
  height: 40px;
  width: 120px;
  font-size: x-large;
  color: white;
  text-align: center;
  background-color: rgb(243, 144, 13);
  border: none;
  border-radius: 5px;
}
